<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{35,1},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{69,1},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{103,1},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{137,1},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_25.png</string>
            <key>size</key>
            <string>{170,35}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:442d2bee1c4ed77e1e1cf5deb4b5c049:0f332ca9b38eb91a483526c42a278eb1:970e00a2a7966df027f3ab672961d48a$</string>
            <key>textureFileName</key>
            <string>effect_25.png</string>
        </dict>
    </dict>
</plist>
