<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,50}</string>
                <key>spriteSourceSize</key>
                <string>{57,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{57,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,50}</string>
                <key>spriteSourceSize</key>
                <string>{57,50}</string>
                <key>textureRect</key>
                <string>{{60,1},{57,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,50}</string>
                <key>spriteSourceSize</key>
                <string>{57,50}</string>
                <key>textureRect</key>
                <string>{{119,1},{57,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,50}</string>
                <key>spriteSourceSize</key>
                <string>{57,50}</string>
                <key>textureRect</key>
                <string>{{178,1},{57,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,50}</string>
                <key>spriteSourceSize</key>
                <string>{57,50}</string>
                <key>textureRect</key>
                <string>{{237,1},{57,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_14.png</string>
            <key>size</key>
            <string>{295,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bcd5be4affd17644b2c73f9c6f9af24:8571d495cd191d1f57e2dae42cdf7077:2135aeb3d08c4ff1358b0fc97e37ca63$</string>
            <key>textureFileName</key>
            <string>effect_14.png</string>
        </dict>
    </dict>
</plist>
