<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-b-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-b-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,50}</string>
                <key>textureRect</key>
                <string>{{59,1},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-b-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,50}</string>
                <key>textureRect</key>
                <string>{{117,1},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-b-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,50}</string>
                <key>textureRect</key>
                <string>{{175,1},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-b-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,50}</string>
                <key>textureRect</key>
                <string>{{233,1},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-b-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,50}</string>
                <key>textureRect</key>
                <string>{{291,1},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_24.png</string>
            <key>size</key>
            <string>{348,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9245e666d0a1d7d92062c4df870456c9:bce1b61fd062c37b2f96589cada10a9f:8d46be9166ef71d5c5bec4072b170409$</string>
            <key>textureFileName</key>
            <string>effect_24.png</string>
        </dict>
    </dict>
</plist>
