<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{50,1},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{99,1},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{148,1},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{197,1},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{246,1},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_26.png</string>
            <key>size</key>
            <string>{294,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8be9697ebb76360507c30780cf8e598:c8df9ce5ef04913d3895e7faf4821cc7:0e44dcf7defb92f10549279f1c8e1186$</string>
            <key>textureFileName</key>
            <string>effect_26.png</string>
        </dict>
    </dict>
</plist>
