<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{1,1},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{36,1},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{71,1},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_3.png</string>
            <key>size</key>
            <string>{105,33}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b32a30c9c92f09176b24c831b9a345e4:6a7fbbfd2cbb6eea74d7b6a22ddcccdc:c701632abcd33beb77b54d96ea8441b8$</string>
            <key>textureFileName</key>
            <string>effect_3.png</string>
        </dict>
    </dict>
</plist>
