<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{126,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{126,116}</string>
                <key>textureRect</key>
                <string>{{129,1},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{126,116}</string>
                <key>textureRect</key>
                <string>{{257,1},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{126,116}</string>
                <key>textureRect</key>
                <string>{{385,1},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{126,116}</string>
                <key>textureRect</key>
                <string>{{513,1},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_1.png</string>
            <key>size</key>
            <string>{640,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bec3d92c479a74ead03f8aafbd4fe182:c9274dfa660bcf7a44b8895f6e39eb5b:4fa0e8a1172577f40ade6e863a14e3b6$</string>
            <key>textureFileName</key>
            <string>effect_1.png</string>
        </dict>
    </dict>
</plist>
