<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,69}</string>
                <key>spriteSourceSize</key>
                <string>{65,69}</string>
                <key>textureRect</key>
                <string>{{1,1},{65,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,69}</string>
                <key>spriteSourceSize</key>
                <string>{65,69}</string>
                <key>textureRect</key>
                <string>{{68,1},{65,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,69}</string>
                <key>spriteSourceSize</key>
                <string>{65,69}</string>
                <key>textureRect</key>
                <string>{{135,1},{65,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,69}</string>
                <key>spriteSourceSize</key>
                <string>{65,69}</string>
                <key>textureRect</key>
                <string>{{202,1},{65,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,69}</string>
                <key>spriteSourceSize</key>
                <string>{65,69}</string>
                <key>textureRect</key>
                <string>{{269,1},{65,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,69}</string>
                <key>spriteSourceSize</key>
                <string>{65,69}</string>
                <key>textureRect</key>
                <string>{{336,1},{65,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_2.png</string>
            <key>size</key>
            <string>{402,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8cccbba2cd03b844635398865351cd9:6fc5ff810dd42066a7d0e0d5ab28ef2d:3dfbfbc8204a359f1a81f2ee84fdb371$</string>
            <key>textureFileName</key>
            <string>effect_2.png</string>
        </dict>
    </dict>
</plist>
