<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,6}</string>
                <key>spriteSize</key>
                <string>{47,28}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{1,111},{47,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{51,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{51,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{51,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{1,39},{51,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{49,32}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{1,77},{49,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-9}</string>
                <key>spriteSize</key>
                <string>{47,22}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{1,141},{47,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_18.png</string>
            <key>size</key>
            <string>{53,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08677fc7183bdf2f969f318c34f92987:72d4118337643d8f9fe99fa5a7de8ad1:4ce800d111a7e3c614f99011939c0b34$</string>
            <key>textureFileName</key>
            <string>effect_18.png</string>
        </dict>
    </dict>
</plist>
