<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{140,1},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{279,1},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{418,1},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{1,92},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{140,92},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{279,92},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{418,140},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{1,279},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{1,183},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{1,418},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{92,274},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{140,183},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{140,413},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{183,274},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{274,274},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{279,183},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{279,413},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{365,279},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{418,370},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg.png</string>
            <key>size</key>
            <string>{508,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b58ff62ca704f273eda5e760de54bfb5:cdfeaba5eea14c62312937171a19ef63:ba3351e848913f852cb04737e7054a9e$</string>
            <key>textureFileName</key>
            <string>bg.png</string>
        </dict>
    </dict>
</plist>
