<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{243,243},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{334,243},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{1041,1},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{919,341},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{869,677},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{869,816},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{960,677},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{960,816},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{1051,677},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{1051,816},{137,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{365,919},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{504,919},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{643,919},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{782,955},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{921,955},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{365,1010},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{504,1010},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{643,1010},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{782,1046},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,89}</string>
                <key>spriteSourceSize</key>
                <string>{137,89}</string>
                <key>textureRect</key>
                <string>{{921,1046},{137,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,436}</string>
                <key>spriteSourceSize</key>
                <string>{240,436}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,216}</string>
                <key>spriteSourceSize</key>
                <string>{120,216}</string>
                <key>textureRect</key>
                <string>{{919,1},{120,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,432}</string>
                <key>spriteSourceSize</key>
                <string>{240,432}</string>
                <key>textureRect</key>
                <string>{{1,439},{240,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,432}</string>
                <key>spriteSourceSize</key>
                <string>{240,432}</string>
                <key>textureRect</key>
                <string>{{243,1},{240,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,432}</string>
                <key>spriteSourceSize</key>
                <string>{240,432}</string>
                <key>textureRect</key>
                <string>{{435,243},{240,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,432}</string>
                <key>spriteSourceSize</key>
                <string>{240,432}</string>
                <key>textureRect</key>
                <string>{{435,677},{240,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,432}</string>
                <key>spriteSourceSize</key>
                <string>{240,432}</string>
                <key>textureRect</key>
                <string>{{1,681},{240,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,432}</string>
                <key>spriteSourceSize</key>
                <string>{240,432}</string>
                <key>textureRect</key>
                <string>{{677,1},{240,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,216}</string>
                <key>spriteSourceSize</key>
                <string>{120,216}</string>
                <key>textureRect</key>
                <string>{{919,219},{120,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,432}</string>
                <key>spriteSourceSize</key>
                <string>{240,432}</string>
                <key>textureRect</key>
                <string>{{677,435},{240,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,216}</string>
                <key>spriteSourceSize</key>
                <string>{120,216}</string>
                <key>textureRect</key>
                <string>{{243,681},{120,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,216}</string>
                <key>spriteSourceSize</key>
                <string>{120,216}</string>
                <key>textureRect</key>
                <string>{{243,899},{120,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg.png</string>
            <key>size</key>
            <string>{1141,1141}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7c1f8266bf236f40233f774c7a90063:f1c3962b1d506ca84627c5a0f0e9bf34:ba3351e848913f852cb04737e7054a9e$</string>
            <key>textureFileName</key>
            <string>bg.png</string>
        </dict>
    </dict>
</plist>
